.wrapper-flex {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  width: 100%;

  .wrapper-select-timer {
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 10px 20px 2px rgba(187, 186, 186, 0.25);

    .title {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

    .items-list {
      width: 100%;
      padding-left: 10px;
      display: none;
      height: 250px;
      overflow-y: scroll;
      scrollbar-width: thin;
      position: absolute;
      top: 35px;
      background-color: #fff;
      box-shadow: inset 0 10px 20px 2px rgba(61, 61, 61, 0.25);
      z-index: 2;

      .item-one {
        padding: 0.2rem 0.2rem 0.1rem 0.2rem;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #c7c4c4;
        }
      }

      &.hidden-display {
        display: none;
      }

      &.shown-display {
        display: block;
      }
    }
  }
  .error {
    color: #f44336;
    height: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
